<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background-image: url("https://htmlcolorcodes.com/assets/images/colors/off-white-color-solid-background-1920x1080.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
    }

    h2 img {
      vertical-align: middle;
    }
    h2 b {
      vertical-align: middle;
      font-size: 1.5em;
      color: brown;
    }
  </style>
</head>
<body>
  <div align="center">
    <h2 align="left" ><img src="https://th.bing.com/th/id/OIP.w1Fva4wzz2YRRtmr10IfLgAAAA?pid=ImgDet&rs=1" alt="logo" height="70px" /> 
      <b>mAadhar</b>  </h2>
    <hr>
    <router-outlet></router-outlet>
  </div>
</body>
</html>
