<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <span *ngFor="let r of requests">
            <div class="container">
                <table class="table" cellpadding="10">
                    <tr align="center">
                        <th>Email ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Aadhar ID</th>
                    </tr>
                    <tr align="center">
                        <td>{{r.emailid}}</td>
                        <td>{{r.name}}</td>
                        <td>{{r.dob}}</td>
                        <td>{{r.address}}</td>
                        <td>{{r.phone}}</td>
                        <td>{{r.gender}}</td>
                        <td>{{r.adharid}}</td>
                    </tr>
                </table>
                <hr>
            </div>
        </span>
    
    </div>
    
</body>
</html>
